.input-wrapper {
  margin: 10px 0;
  position : relative;
}

.input-wrapper label {
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 5px;
}

.input-wrapper span {
  color: red;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  top: 4px;
}

.input-wrapper input {
  width: 99%;
  border: 1px solid;
}

.input-wrapper .error {
  font-size: 0.675rem;
  position: absolute;
  margin-left: 0;
  left: 0;
  top: 55px;
}
